@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background: #030712;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
}

html {
  background: var(--main-background);
}

body {
  min-height: 100vh;
}

blockquote {
  padding: 5px 15px;
  border-left: 2px solid #fff;
  background: #ffffff11;
  margin: 5px 0;
}

.guides span {
  padding: 1px 4px;
  border-radius: 4px;
  background: transparent;
  border: 1px solid #ffffff30;
  font-family: var(--font-jetbrains);
}

.checkbox {
  background: transparent;
  cursor: pointer;
  margin-bottom: 5px;
}

.checkbox[type="checkbox"]::before {
  content: "";
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  background: #151515;
  border-radius: 4px;
}

.checkbox[type="checkbox"]:checked:before {
  border: none;
  background: #fff;
  width: 16px;
  height: 16px;
}

.checkbox[type="checkbox"]::after {
  content: "";
  position: relative;
  display: block;
  left: 4px;
  top: -11px;
  height: 0.25rem;
  width: 0.5rem;
  background: transparent;
  border: 2px solid #000;
  border-width: 0 0 1.5px 1.5px;
  rotate: -45deg;
}
